@using Questionary.Web.Areas.Admin.ViewModel.AdminViewModel
@model AdminEventViewModel;

@{
    ViewData["Title"] = "Редактирование Мероприятия";
}

<div class="container">
<h2>Редактировние Мероприятия</h2>
<form method="post" enctype="multipart/form-data">
    @Html.HiddenFor(x => x.Event.Id)
    @Html.HiddenFor(x => x.Event.BasePhoto64)
    @Html.HiddenFor(x => x.Event.PhotoId)
    <div>
        <label>
            Название мероприятия
            @Html.TextBoxFor(x => Model.Event.Name, new { @class = "form-control"})
        </label>
    </div>

    <div>
        <label>
            Начало мероприятия
            <input type="date" asp-for="Event.DateStart" class="form-control" />
        </label>
    </div>

    <div>
        <label>
            Конец мероприятия
            <input type="date" asp-for="Event.DateAnd" class="form-control" />
        </label>
    </div>

    <div>
        <label>
            
            @Html.DropDownListFor(x => Model.Event.ImportantId, Model.ImportantsList,  new { @class = "form-control"} )
        </label>
    </div>
    <div>
        <label>
            <img class="img_admin_photo" src="@Model.Event.BasePhoto64" alt="">
            <input type="file" asp-for="UploadPhoto" class="form-control" />
        </label>
    </div>

    <input type="submit" value="Редактировать" />

</form>

</div>

<script src="~/js/datepicker.min.js" asp-append-version="true"></script>

<script>
    $(document).ready(function () {
        $(".datepicker").datapicker();
    });
</script>