@using Questionary.Web.Areas.Admin.VIewModel;
@model EventViewModel;
@{
    Layout = null;
}


<style>
    .test-21{
        margin-top: auto;
        margin-bottom: 1.1em;
        text-align: center;
    }
</style>

@if (Model.Item != null && Model.Item.Elements.Any())
{
    foreach (var item in Model.Item.Elements)
    {
        <div class="calendar-list-item">
            <div class="img @item.Important.Color">
                <div class="title">
                    @item.DateRange <br />
                    @Model.MonthName
                </div>
                <p>сб-вс</p>

                <div class="icon">
                    <img src="img/c-icon1.svg" alt="">
                </div>
                <a class="ref" href="calendar-event.html"></a>
            </div>
            <div>@item.Name</div>
        </div>
    }
}


<div class="test-21">
    <div class="pagination2">
        <span id="currentPage"></span> / <span id="totalPages"></span>
    </div>
    <button type="button" class="btn btn-dark" id="prevPage">Назад</button>
    <button type="button" class="btn btn-dark" id="nextPage">Вперед</button>
</div>


<script>
    $(document).ready(function () {
        var itemsPerPage = 2; // Количество элементов на одной странице
        var currentPage = 1; // Текущая страница
        var totalItems = @Model.Item.Elements.Count(); // Общее количество элементов
        var totalPages = Math.ceil(totalItems / itemsPerPage); // Общее число страниц

        // Функция для отображения элементов текущей страницы
        function showPage(page) {
            var startIndex = (page - 1) * itemsPerPage;
            var endIndex = startIndex + itemsPerPage;
            $("#eventList .calendar-list-item").hide().slice(startIndex, endIndex).show();
        }

        // Инициализация страницы
        showPage(currentPage);
        $("#currentPage").text(currentPage);
        $("#totalPages").text(totalPages);

        // Обработчик нажатия кнопки "Назад"
        $("#prevPage").click(function () {
            if (currentPage > 1) {
                currentPage--;
                showPage(currentPage);
                $("#currentPage").text(currentPage);
            }
        });

        // Обработчик нажатия кнопки "Вперед"
        $("#nextPage").click(function () {
            if (currentPage < totalPages) {
                currentPage++;
                showPage(currentPage);
                $("#currentPage").text(currentPage);
            }
        });
    });
</script>
