@using Questionary.Web.Areas.Admin.ViewModel.AdminViewModel
@model AdminCardTeamUserViewModel;

<style>
    .columnTextOverflow {
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<table class="table">
    <thead>
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Город</th>
            <th>Год</th>
            <th>Факты</th>
            <th>Стартовый номер</th>
            <th>Победы</th>
            <th>Лет в анрагии</th>
            <th>Хобби</th>
            <th>Стаж</th>
            <th>Мотоциклы</th>
            <th>Фото</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model.CardPersonsTeam.Elements)
    {
        <tr class="admin_cards">
            <td>@item.LastName</td>
            <td>@item.FirstName</td>
            <td>@item.City</td>
            <td>@item.Year.ToString("dd.MM.yyyy")</td>
            <td class="columnTextOverflow">@item?.Facts</td>
            <td>@item.StartNumber</td>
            <td>@item.Experience</td>
            <td>@item.YearAnarch</td>
            <td>@item.Hobby</td>
            <td>@item.Stag</td>
            <td>@item.Moto</td>
            <td><img class="img_admin_photo" src="@item.BasePhoto64" alt=""></td>
            <td><a type="button" class="btn btn-primary" href="~/Admin/AdminCardTeamUser/Edit/@item.Id">Редактировать</a></td>
            <td><a type="button" class="btn btn-danger" href="~/Admin/AdminCardTeamUser/Delete?id=@item.Id">Удалить</a></td>
        </tr>
    }
</table>

<div class="button_pagination">
    <button type="button" class="btn btn-dark" id="prevPage">Назад</button>
    <button type="button" class="btn btn-dark" id="nextPage">Вперед</button>
</div>

<script>
    var currentPage = 1;
    var currentTake = 5;

    $("#prevPage").click(function () {
        var totalCount = @Model.CardPersonsTeam.TotalCount;
        var currentPage = @Model.CardPersonsTeam.Page;

        if ((currentPage - 1) > 0) {
            currentPage -= 1;
            ReloadTable(currentPage, currentTake);
        }
    });

    // Обработчик нажатия кнопки "Вперед"
    $("#nextPage").click(function () {
        var totalCount = @Model.CardPersonsTeam.TotalCount;
        var currentPage = @Model.CardPersonsTeam.Page;
        console.log('next')
        if ((currentPage) * currentTake < totalCount) {
            currentPage += 1;
            ReloadTable(currentPage, currentTake);
        }
    });
</script>