@using Questionary.Web.Areas.Admin.ViewModel.AdminViewModel
@model AdminCardTeamUserViewModel;
@{
    ViewData["Title"] = "Список мероприятий";
}

<div class="container my-5">
    <table class="table">
        <thead>
            <tr>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Город</th>
                <th>Год</th>        
                <th>факты</th>
                <th>Стартовый номер</th>
                <th>Победы</th>
                <th>Лет в анрагии</th>
                <th>Хобби</th>
                <th>Фото</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CardPersonsTeam)
            {
                <tr>
                    <td>@item.LastName</td>
                    <td>@item.FirstName</td>
                    <td>@item.City</td>
                    <td>
                        @item.Year.ToString("dd.MM.yyyy")</td>
                    <td>@item.Facts</td>
                    <td>@item.StartNumber</td>
                    <td>@item.Experience</td>
                    <td>@item.YearAnarch</td>
                    <td>@item.Hobby</td>
                    <td><img class="img_admin_photo" src="@item.BasePhoto64" alt=""></td>



                    <td><a type="button" class="btn btn-primary" href="~/Admin/AdminCardTeamUser/Edit/@item.Id">Редактировать</a></td>
                    <td><a type="button" class="btn btn-danger" href="~/Admin/AdminCardTeamUser/Delete/@item.Id">Удалить</a></td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <a type="button" class="btn btn-primary" href='/Admin/AdminCardTeamUser/Create'>Добавить</a>
    </div>
</div>

@*<img class="img_doc" src="data:image/png;base64, {{doc?.photoBase64}}" />*@