@using Moto.Web.Areas.Admin.ViewModel;
@model EventListViewModel;
@{
    ViewData["Title"] = "Важность";
}
<style>

    .scroll {
        overflow: auto;
        height: 500px;
    }
</style>

<div class="main">
    <meta charset="utf-8" />
    <section class="content-section">
        <div class="inner-section">

            <h2>Полный календарь команды “Anarchy Racing”</h2>

            <div class="calendar-page-content">
                <div class="top-banner-calendar">

                    <div class="top-banner-calendar-content">
                        <body class="light">
                            <div class="calendar">
                                <!-- Calendar Header -->
                                <div class="calendar-header">
                                    <span class="month-picker" id="month-picker">
                                        February
                                    </span>
                                    <div class="year-picker">
                                        <span class="year-change mt-3" id="prev-year">
                                            <pre> < </pre>
                                        </span>
                                        <span id="year">2023</span>
                                        <span class="year-change mt-3" id="next-year">
                                            <pre> > </pre>
                                        </span>
                                    </div>
                                </div>
                                <!-- Calendar Body -->
                                <div class="calendar-body">
                                    <div class="calendar-week-day">
                                        <div>ПН</div>
                                        <div>Вт</div>
                                        <div>Ср</div>
                                        <div>ЧТ</div>
                                        <div>ПТ</div>
                                        <div>СБ</div>
                                        <div>ВС</div>
                                    </div>
                                    <div class="calendar-day">
                                        <div>
                                            1
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                        <div>2</div>
                                        <div>3</div>
                                        <div>4</div>
                                        <div>5</div>
                                        <div>6</div>
                                        <div>7</div>
                                        <div>1</div>
                                        <div>2</div>
                                        <div>3</div>
                                        <div>4</div>
                                        <div>5</div>
                                        <div>6</div>
                                        <div>7</div>
                                    </div>
                                </div>
                                <!-- Calendar Footer -->
                                <div class="calendar-footer">
                                    <div class="toggle">
                                        <span>Dark Mode</span>
                                        <div class="dark-mode-switch">
                                            <div class="dark-mode-switch-ident"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="month-list"></div>
                                
                            </div>
                        </body>
                        <div class="top-banner-calendar-item"></div>
                        <input type="hidden" id="datepicker_value" value="01.06.2023">
                    </div>
                </div>

                <div class="calendar-page-right-column scroll">
                   
                        <div class="calendar-list" id="eventList">
                            @*@if (Model.Item != null && Model.Item.Elements.Any())
                            {
                            foreach (var item in Model.Item.Elements)
                            {
                            <div class="calendar-list-item">
                            <div class="img @item.Important.Color">
                            <div class="title">
                            @item.DateRange <br />
                            @Model.MonthName
                            </div>
                            <p>сб-вс</p>

                            <div class="icon">
                            <img src="img/c-icon1.svg" alt="">
                            </div>
                            <a class="ref" href="calendar-event.html"></a>
                            </div>
                            <div>@item.Name</div>
                            </div>
                            }
                            }*@
                        </div>
                    
                </div>
            </div>
        </div>
    </section>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script>

    $(document).ready(function () {
        $('.month-list').on('click', 'div[data-month]', function () {
            var monthValue = $(this).attr('data-month');
            console.log('Значение атрибута data-month:', monthValue);
            var year = parseInt($('#year').text());
            console.log('Значение year:', year);
            var url = '@Html.Raw(Url.Action("EventListWithMonthAndYear", "Event"))?month=' + monthValue + '&year=' + year;
            console.log(url);
            $.get(url, function (response) {
                $('#eventList').html(response);
            });
        });
    });

    $(function () {
        var url = '@Html.Raw(Url.Action("EventListWithMonthAndYear", "Event"))';
        console.log(url);
        $.get(url, function (response) {
            $('#eventList').html(response);
        });
    });

                    //var arr = [];
                    //$(document).ready(function () {
                    //    $(".calendar-day div").click(function () {
                    //        var val = $(this).prop("innerText");
                    //        arr.push(val);
                    //    });

                    //    $("#searchEvents").click(function() {
                    //        var url = '@Html.Raw(Url.Action("GetEventsWithDays", "Event"))?days=' + arr;

                    //        $.get(url, function (response) {
                    //            $('#eventList').html(response);
                    //        });
                    //    });
                    //});


    $(function () {
        $('#prev-year').on('click', function () {
            GetEventsByYear();
            console.log('left');
        });

        $('#next-year').on('click', function () {
            GetEventsByYear();
            console.log('right');
        });
    });

    function GetEventsByYear (){
        console.log(11);
        var year = parseInt($('#year').text());
        console.log(year);
        if (year){
            var monthValue = $('#month-picker').attr('data-month');
            console.log('Значение атрибута data-month:', monthValue);
            console.log('Year-', year);
            var url = '@Html.Raw(Url.Action("EventListWithMonthAndYear", "Event"))?month=' + monthValue + '&year=' + year;

            $.get(url, function (response) {
                $('#eventList').html(response);
            });
        }
    }
</script>

