@using Questionary.Web.Areas.Admin.ViewModel;
@model UserViewModel;

@{
    ViewData["Title"] = "Личный кабинет";
}
<style>
    
</style>

<div class="container">
    <h1 class="personal_area_h1">Личный кабинет</h1>
    <p class="personal_area_p1">Добро пожаловать в личный кабинет, тут вы сможете посмотреть всю информацию о заказе, пополнить текущий баланс.</p>
    <div class="personal_area_button">
        <p class="qwe p-0">Баланс Кошелька</p>
        <div class="personal_area_p_wiht_button">
            <p class="qwe p-0">Баланс</p>
            <input class="button_balanc" type="submit" value="Пополнить" />
        </div>
    </div>

    <div class="qaz">
        <div class="ul_form d-flex flex-column">
            <div class="name_user">
                @Model.User.LastName
                @Model.User.MiddleName
            </div>
            <ul class="p-0">

                <li class="nav-item li_near_the_photo">
                    <img class="img_photo_personal_area" src="/img//pictures/Vectoradmin.png"><a class="nav-link text-dark" class="btn users-btn" asp-controller="User" asp-action="Edit" type="button">Профиль</a>
                </li>
                <li class="nav-item li_near_the_photo">
                    <img class="img_photo_personal_area" src="/img//pictures/Vector (2).png"> <a class="nav-link text-dark" class="btn users-btn" asp-controller="User" asp-action="Orders" type="button">Заказы</a>
                </li>
                <li class="nav-item li_near_the_photo">
                    <img class="img_photo_personal_area" src="/img//pictures/Vector (3).png">  <a class="nav-link text-dark" class="btn users-btn" asp-controller="User" asp-action="GetBalansByUserId" asp-route-id="@Model.User.Id" type="button">Баланс</a>
                </li>
                <li class="nav-item li_near_the_photo">



                </li>
            </ul>
            <div class="div_on_lale_out mt-auto mb-5 ">
                <img class="img_photo_personal_area" src="/img//pictures/Vector (4).png"> <a class="nav-link text-dark" class="btn users-btn" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" type="button">Выйти</a>
            </div>
        </div>

        <div class="right_div_personal_area">
            <p>Баланс:</p>
            <p>@Model.Balans.BalansMoney</p>

            <input class="button_on_personal_area_balans" type="submit" value="Пополнить по реквизитам" />
            
            <form class="form_input_personal_area d-flex gap-5" method="post">
             
                <table class="table">
                    <thead>
                        <tr class="balans_table_th tr_orders">
                            <th><a class="teg_a" href="">Оплата и списания</a> </th>
                            <th><a class="teg_a" href="">История транзакции</a></th>
                            <th></th>

                        </tr>
                        <tr class="tr_orders">
                            <th>Дата </th>
                            <th>Операции</th>
                            <th>Сумма</th>
                           
                        </tr>
                    </thead>
                    <tbody class="scroll">
                        <tr class="tr_orders">
                            @if (@Model.Balans.BalansMoney != null)
                            {
                                <td>@Model.Balans.DatePutMoney</td>
                                <td>@Model.Balans.Operation.Name</td>
                                <td>@Model.Balans.BalansMoney</td>
                                
                                
                            }
                            else
                            {
                              
                                <td>-</td>
                                <td>-</td>
                                <td>0</td>
                            }
                        </tr>                       
                    </tbody>
                </table>

            </form>
        </div>
    </div>
</div>