@using Questionary.Web.Areas.Admin.ViewModel;
@model UserViewModel;

@{
    ViewData["Title"] = "Личный кабинет";
}
@*<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@

<!-- Скрипты Bootstrap -->

<style>
    .scrole-table {
        width: 90%;
        overflow: auto;
        height: 300px;
    }

    .fixed {
        position: relative;
    }


    form::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    form::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 8px;
        margin-top: 48px;
    }

    /* Handle */
    form::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 8px;
    }

    a1 {
        position: relative;
        color: #00a650; /*задаём цвет ссылки*/
        cursor: pointer;
        line-height: 1; /*задаём высоту строки*/
        text-decoration: none; /*убираем подчёркивание*/
    }

        a1:after {
            display: block;
            position: absolute;
            left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
            width: 0; /*задаём длинну линии до наведения курсора*/
            height: 2px; /*задаём ширину линии*/
            background-color: #00a650; /*задаём цвет линии*/
            content: "";
            transition: width 0.3s ease-out; /*задаём время анимации*/
        }

        a1:hover:after,
        a1:focus:after {
            width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
        }



</style>


<div class="modal" id="infoPersonTeam" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body" id="infoPersonTeamBody"></div>
        </div>
    </div>
</div>


<div class="container">
    <h1 class="personal_area_h1">Личный кабинет</h1>
    <p class="personal_area_p1">Добро пожаловать в личный кабинет, тут вы сможете посмотреть всю информацию о заказе, пополнить текущий баланс.</p>
    <div class="personal_area_button">
        <p class="qwe p-0">Баланс Кошелька</p>
        <div class="personal_area_p_wiht_button">
            <p class="qwe p-0">Баланс</p>
            <input class="button_balanc" type="submit" id="money-block" value="Пополнить" />
           
        </div>
    </div>

    <div class="qaz">
        <div class="ul_form d-flex flex-column">
            <div class="name_user">
                @Model.User.LastName
                @Model.User.MiddleName
            </div>
            <ul class="p-0">

                <li class="nav-item li_near_the_photo">
                    <img class="img_photo_personal_area" src="/img//pictures/Vectoradmin.png"><a class="nav-link text-dark" class="btn users-btn" asp-controller="User" asp-action="Edit" type="button">Профиль</a>
                </li>
                <li class="nav-item li_near_the_photo">
                    <img class="img_photo_personal_area" style="height:17px" src="/img//pictures/Yslyga.png"> <a class="nav-link text-dark" class="btn users-btn" asp-controller="User" asp-action="Index" type="button">Заказать Услугу</a> @*<a class=" text-dark" style="display: block;padding: 0.5rem 0.5rem;color: black;text-decoration: none;transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;" class="btn users-btn" asp-controller="CustomerService" asp-action="Index" type="button">Услуги</a>*@

                </li>
                <li class="nav-item li_near_the_photo">
                    <img class="img_photo_personal_area" src="/img//pictures/Vector (2).png"> <a class="nav-link text-dark" class="btn users-btn" asp-controller="User" asp-action="Orders" type="button">Заказы</a>
                </li>
                <li class="nav-item li_near_the_photo">
                    <img class="img_photo_personal_area" src="/img//pictures/Vector (3).png">  <a class="nav-link text-dark" class="btn users-btn" asp-controller="User" asp-action="GetBalansByUserId" asp-route-id="@Model.User.Id" type="button">Баланс</a>
                </li>
                <li class="nav-item li_near_the_photo">



                </li>
            </ul>
            <div class="div_on_lale_out mt-auto mb-5 ">
                <img class="img_photo_personal_area" src="/img//pictures/Vector (4).png"> <a class="nav-link text-dark" class="btn users-btn" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" type="button">Выйти</a>
            </div>
        </div>

        <div class="right_div_personal_area">
            <p>Баланс:</p>
            <p>@Model.Balans.BalansMoney ₽</p>

            <input class="button_on_personal_area_balans" type="submit" value="Пополнить по реквизитам" />

            <div class="d-flex" style="margin-left: 6rem; gap: 7rem;">
   
                <a class="teg_a1 first-link" href="">Оплата и списания</a>
                <a class="teg_a" href="">История транзакции</a>
            </div>

            <form class="form_input_personal_area d-flex gap-5 scrole-table" method="post">

                <table class="table" style="position: relative; border-collapse: collapse;">
                    <thead style="position: sticky; top: 0; background: beige; border: 0;">
                        @*              <tr class="balans_table_th tr_orders fixed">
                        <th> </th>
                        <th>></th>
                        <th></th>

                        </tr>*@
                        <tr class="tr_orders fixed" style="box-shadow: 0px 1px 0px 0px #040404; top: 0;">
                            <th style="border: 0;">Дата </th>
                            <th style="border: 0;">Операции</th>
                            <th style="border: 0;">Сумма</th>

                        </tr>
                    </thead>

                    <tbody>

                        @if (@Model.OpeartionUser != null)
                        {
                            @*<td>@Model.Balans.DatePutMoney</td>
                        <td>@Model.Balans.Operation.Name</td>
                        <td>@Model.Balans.BalansMoney</td>*@

                            foreach (var item in Model.OpeartionUser)
                            {
                                <tr class="tr_orders ">
                                    <td>@item.DataOperation</td>
                                    <td>@item.NameCustomer</td>
                                    @if (@item.NameCustomer == "Списано")
                                    {
                                        <td>-@item.Price.ToString("C")</td>
                                    }
                                    else if (@item.NameCustomer == "Пополнено")
                                    {
                                        <td>+@item.Price.ToString("C")</td>
                                    }

                                </tr>

                            }
                        }
                        else
                        {
                            <tr class="tr_orders">
                                <td>-</td>
                                <td>-</td>
                                <td>0</td>
                            </tr>
                        }

                    </tbody>
                </table>

            </form>
        </div>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script><!-- Модальное окно -->


<script>
  


    $(document).ready(function () {
        $('#money-block').on('click', function (event) {
            event.preventDefault();
           
            
            var url = '@Html.Raw(Url.Action("CardPushMoney", "User"))' ;
            console.log(url);
            $.get(url, function (response) {
                $('#infoPersonTeamBody').html(response);
            });

            $('#infoPersonTeam').modal('show');
        });               
    });

    //$(document).ready(function () {
    //    $('#person').on('click', function (event) {
    //        event.preventDefault();
    //        var personId = $(this).data('person-id');
    //        console.log(personId);
    //        var url = '@Html.Raw(Url.Action("GetById", "CardTeam"))?id=' + personId;
    //        console.log(url);
    //        $.get(url, function (response) {
    //            $('#infoPersonTeamBody').html(response);
    //        });

    //        $('#infoPersonTeam').modal('show');
    //    });


    //    $('#fullCalendar').click(function () {
    //        var month = document.querySelector('#month-picker').getAttribute('data-month');
    //        var url = '@Html.Raw(Url.Action("Index", "Event"))?month=' + month;
    //        window.location.href = url;
    //    });
    //});






</script>
