@using Questionary.Web.Areas.Admin.VIewModel;
@model UserViewModel;
@{
    string fio = $"{Model.User.LastName} {Model.User.FirstName} {Model.User.MiddleName}";
    string motoList = string.Join(",", Model.User.MotosDto.Select(x => x.Name));
}
<div class="popup person-popup" id="person-popup1">
    @*<div class="person-popup-content">*@
    <div class="person-popup-left">
        <h2>@fio</h2>

        <div class="stats-block">
            <p>
                <b>Дата рождения</b> -
            </p>

            <p>
                <b>Город</b> - Москва
            </p>

            <p>
                <b>Мотоцикл</b> - @motoList.Trim()
            </p>

            <p>
                <b>@Model.User.InfoDto.Experience</b><br><br>

            </p>

            <p>
                <b>Факты о себе</b> - @Model.User.InfoDto.Facts<br><br>
            </p>

            <p>
                <b>Дополнительные хобби</b> - @Model.User.InfoDto.Hobby<br><br>
            </p>

        </div>
    </div>

    <div class="person-popup-right">
        <div class="number">
            <b>Стартовый номер - </b><span class="grand-red">113</span>
        </div>

        <p>
            <span class="grand-red">2 года</span><br>
            стаж в мотокроссе
        </p>

        <p>
            <span class="grand-red">в 2020</span><br>
            пришел в анархию
        </p>
    </div>
</div>
@*</div>*@

