@using MotoCross.Json;
@using Domain.Models.ViewModel;
@model OrderViewModel;



<div class="container">
    <h1 class="personal_area_h1">Личный кабинет</h1>
    <p class="personal_area_p1">Добро пожаловать в личный кабинет, тут вы сможете посмотреть всю информацию о заказе, пополнить текущий баланс.</p>
    <div class="personal_area_button">
        <p class="qwe p-0">Мои заказы</p>
        <div class="personal_area_p_wiht_button">
            <p class="qwe p-0">Баланс</p>
            <input class="button_balanc" id="myButton" type="submit" value="Пополнить" />
        </div>
    </div>

    <div class="qaz">
        <div class="ul_form d-flex flex-column">
            <div class="name_user">
                @Model.User.LastName
                @Model.User.MiddleName
            </div>
            <ul class="p-0">

                <li class="nav-item li_near_the_photo">
                    <img class="img_photo_personal_area" src="/img//pictures/Vectoradmin.png"><a class="nav-link text-dark" class="btn users-btn" asp-controller="User" asp-action="Edit" type="button">Профиль</a>
                </li>
                <li class="nav-item li_near_the_photo">
                    <img class="img_photo_personal_area" src="/img//pictures/Vector (2).png"> <a class="nav-link text-dark" class="btn users-btn" asp-controller="User" asp-action="Orders" type="button">Заказы</a>
                </li>
                <li class="nav-item li_near_the_photo">
                    <img class="img_photo_personal_area" src="/img//pictures/Vector (3).png">  <a class="nav-link text-dark" class="btn users-btn" asp-controller="User" asp-action="GetBalansByUserId" asp-route-id="@Model.User.Id" type="button">Баланс</a>
                </li>
                <li class="nav-item li_near_the_photo">



                </li>
            </ul>
            <div class="div_on_lale_out mt-auto mb-5 ">
                <img class="img_photo_personal_area" src="/img//pictures/Vector (4).png"> <a class="nav-link text-dark" class="btn users-btn" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" type="button">Выйти</a>
            </div>
        </div>

        <div class="right_div_personal_area1">


            <form class="form_input_personal_area d-flex gap-5" method="post">

                <table class="table">
                    <thead class="thead_orders">

                        <tr class="tr_orders">
                            <th>Дата </th>
                            <th>Наименование</th>
                            <th>Цена</th>
                            <th>Статус</th>

                        </tr>
                    </thead>
                    <tbody class="scroll">
                        @foreach (var order in Model.Orders)
                        {
                            <tr class="tr_orders">

                                <td>@order.Data.ToString("dd.MM.yyyy") </td>
                                <td>@order.Name</td>
                                <td>@order.Price.ToString("C")</td>
                                <td>

                                    <button class="button_on_personal_area" onclick="myFunction(@order.Id)">Подвердить</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </form>
        </div>
    </div>
</div>




<h1></h1>

<script>
    function myFunction(orderid) {
        if (orderid === null) {
            alert('id заказа null');
            console.log(1);
            return;
        }
        
        var url = "@Url.Action("ResetTranzaction", "User")" + "?orderId=" + orderid;
        console.log(url);
        $.ajax({
            url: url,
            dataType: 'json',          
            type: "post",
            async: false,
            success: function (response) {
                console.log(response);
                switch (response.status) {
                    case parseInt('@((int)JsonResponseStatuses.Ok)'): {
                        location.reload();
                        break;
                    }

                    case parseInt('@((int)JsonResponseStatuses.NotFound)'): {
                        alert(response.message);
                        break;
                    }
                    case parseInt('@((int)JsonResponseStatuses.Error)'): {
                        alert("Ошибка подверждения заказа!");
                        break;
                    }
                }
            }
        });
    }



    document.getElementById("myButton").addEventListener("click", function () {
        location.href = "@Url.Action("AddTranzaction", "User")";
    });

    
</script>
