@using Domain.Models.ViewModel;
@using MotoCross.Json;

@model OrderViewModel;


<style>
    .scrole-table {
        width: 100%;
        overflow: auto;
        height: 410px;
    }

    .fixed {
        position: relative;
    }


    div::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    div::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 8px;
        margin-top: 48px;
    }

    /* Handle */
    div::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 8px;
    }

</style>

<div class="modal" id="infoPersonTeam" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body" id="infoPersonTeamBody"></div>
        </div>
    </div>
</div>


<div class="container">
    <h1 class="personal_area_h1">Личный кабинет</h1>
    <p class="personal_area_p1">Добро пожаловать в личный кабинет, тут вы сможете посмотреть всю информацию о заказе, пополнить текущий баланс.</p>
    <div class="personal_area_button">
        <p class="qwe p-0">Мои заказы</p>
        <div class="personal_area_p_wiht_button">
            <p class="qwe p-0">Баланс</p>
            <input class="button_balanc" id="money-block" type="submit" value="Пополнить" />
        </div>
    </div>

    <div class="qaz">
        <div class="ul_form d-flex flex-column">
            <div class="name_user">
                @Model.User.LastName
                @Model.User.MiddleName
            </div>
            <ul class="p-0">

                <li class="nav-item li_near_the_photo">
                    <img class="img_photo_personal_area" src="/img//pictures/Vectoradmin.png"><a class="nav-link text-dark" class="btn users-btn" asp-controller="User" asp-action="Edit" type="button">Профиль</a>
                </li>
                <li class="nav-item li_near_the_photo">
                    <img class="img_photo_personal_area" style="height:17px" src="/img//pictures/Yslyga.png"> <a class="nav-link text-dark" class="btn users-btn" asp-controller="User" asp-action="Index" type="button">Заказать Услугу</a> @*<a class=" text-dark" style="display: block;padding: 0.5rem 0.5rem;color: black;text-decoration: none;transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;" class="btn users-btn" asp-controller="CustomerService" asp-action="Index" type="button">Услуги</a>*@

                </li>
                <li class="nav-item li_near_the_photo">
                    <img class="img_photo_personal_area" src="/img//pictures/Vector (2).png"> <a class="nav-link text-dark" class="btn users-btn" asp-controller="User" asp-action="Orders" type="button">Заказы</a>
                </li>
                <li class="nav-item li_near_the_photo">
                    <img class="img_photo_personal_area" src="/img//pictures/Vector (3).png">  <a class="nav-link text-dark" class="btn users-btn" asp-controller="User" asp-action="GetBalansByUserId" asp-route-id="@Model.User.Id" type="button">Баланс</a>
                </li>
                <li class="nav-item li_near_the_photo">



                </li>
            </ul>
            <div class="div_on_lale_out mt-auto mb-5 ">
                <img class="img_photo_personal_area" src="/img//pictures/Vector (4).png"> <a class="nav-link text-dark" class="btn users-btn" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" type="button">Выйти</a>
            </div>
        </div>

        <div class="right_div_personal_area1">



            <div class=" scrole-table">
                <table class="table " style="position: relative; border-collapse: collapse;">
                    <thead class="thead_orders" style="position: sticky; top: 0; background: beige; border: 0;">

                        <tr class="tr_orders fixed" style="box-shadow: 0px 1px 0px 0px #040404; top: 0;">
                            <th style="border: 0;">Дата </th>
                            <th style="border: 0;">Наименование</th>
                            <th style="border: 0;">Цена</th>
                            <th style="border: 0;">Статус</th>

                        </tr>
                    </thead>
                    <tbody class="scroll">
                        @foreach (var order in Model.Orders)
                        {
                            <tr class="tr_orders">

                                <td>@order.Data.ToString("dd.MM.yyyy") </td>
                                <td>@order.Name</td>
                                <td>@order.Price?.ToString("C")</td>
                                <td>
                                    @if(order.ComentAdmin != null)
                                    {
                                        <button class="button_on_personal_area" >Подробнее</button>
                                    }
                                </td>
                                <td>
                                
                                    @if (!order.AdminOrderConfirmed && order.IsConfirmed)
                                    {
                                        <button class="button_on_personal_area" onclick="myFunction(@order.Id)">Подвердить</button>
                                    }
                                    else if (!order.IsConfirmed)
                                    {
                                        <button class="button_on_personal_area" onclick="myFunction(@order.Id)">Подвердить</button>
                                    }
                                    else
                                    {
                                    <button class="button_on_personal_area" onclick="myFunction(@order.Id)" disabled>Подвердить</button>
                                    }

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




<h1></h1>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script><!-- Модальное окно -->
<script>
    function myFunction(orderid) {
        if (orderid === null) {
            alert('id заказа null');
            console.log(1);
            return;
        }


        var url = "@Url.Action("ResetTranzaction", "User")" + "?orderId=" + orderid;
        console.log(url);
        $.ajax({
            url: url,
            dataType: 'json',
            type: "post",
            async: true,
            success: function (response) {
                console.log(response);
                switch (response.status) {
                    case parseInt('@((int)JsonResponseStatuses.Ok)'): {
                        alert('Ожидайте подверждения админа');
                        location.reload();
                        break;
                    }

                    case parseInt('@((int)JsonResponseStatuses.NotFound)'): {
                        alert(response.message);
                        break;
                    }
                    case parseInt('@((int)JsonResponseStatuses.Error)'): {
                        alert("Ошибка подверждения заказа!");
                        break;
                    }
                }


            }
        });
    }



    document.getElementById("myButton").addEventListener("click", function () {
        location.href = "@Url.Action("AddTranzaction", "User")";
    });


</script>
<script>



    $(document).ready(function () {
        $('#money-block').on('click', function (event) {
            event.preventDefault();


            var url = '@Html.Raw(Url.Action("CardPushMoney", "User"))';
            console.log(url);
            $.get(url, function (response) {
                $('#infoPersonTeamBody').html(response);
            });

            $('#infoPersonTeam').modal('show');
        });
    });

            //$(document).ready(function () {
            //    $('#person').on('click', function (event) {
            //        event.preventDefault();
            //        var personId = $(this).data('person-id');
            //        console.log(personId);
            //        var url = '@Html.Raw(Url.Action("GetById", "CardTeam"))?id=' + personId;
            //        console.log(url);
            //        $.get(url, function (response) {
            //            $('#infoPersonTeamBody').html(response);
            //        });

            //        $('#infoPersonTeam').modal('show');
            //    });


            //    $('#fullCalendar').click(function () {
            //        var month = document.querySelector('#month-picker').getAttribute('data-month');
            //        var url = '@Html.Raw(Url.Action("Index", "Event"))?month=' + month;
            //        window.location.href = url;
            //    });
            //});






</script>