@using Moto.Web.Areas.Admin.ViewModels.AdminViewModel;
@model AdminCustomerServiceViewModel;


@{
    ViewData["Title"] = "Редактирование Мероприятия";
}

<div class="container">
    <h2>Редактировние Услуги</h2>
    <form method="post" enctype="multipart/form-data">
        @Html.HiddenFor(x => x.Customer.Id)
        @Html.HiddenFor(x => x.Customer.BasePhoto64)
        @Html.HiddenFor(x => x.Customer.PhotoId)
        <div>
            <label>
                Название услуги
                @Html.TextBoxFor(x => Model.Customer.Name, new { @class = "form-control"})
            </label>
        </div>
        <div>
            <label>
                Цена улсуги
                @Html.TextBoxFor(x => Model.Customer.Price, new { @class = "form-control"})
            </label>
        </div>

        <div>
            <label>
                <img class="img_admin_photo" src="@Model.Customer.BasePhoto64" alt="">
                <input type="file" asp-for="UploadPhoto" class="form-control" />
            </label>
        </div>

        <input type="submit" value="Редактировать" />

    </form>

</div>


<script src="~/js/datepicker.min.js" asp-append-version="true"></script>

<script>
    $(document).ready(function () {
        $(".datepicker").datapicker();
    });
</script>