@using Domain.Models.ViewModel;
@model AdminOrderViewModel;

@using Domain.Models
@using Microsoft.AspNetCore.Identity
@using Questionary.Web.Areas.Admin.ViewModels.AdminViewModel;




@inject SignInManager<User> SignInManager
@{
    ViewData["Title"] = "Админ";
}
<div class="container">
    <div class="text-center">
        <h1 class="display-4">Добро пожаловать Админ</h1>
    </div>

    <table class="table " style="position: relative; border-collapse: collapse;">
        <thead class="thead_orders" style="position: sticky; top: 0; background: beige; border: 0;">

            <tr class="tr_orders fixed" style="box-shadow: 0px 1px 0px 0px #040404; top: 0;">
                <th style="border: 0;">Дата </th>
                <th style="border: 0;">Наименование</th>
                <th style="border: 0;">Цена</th>
                <th style="border: 0;">Коментарий</th>
                <th style="border: 0;">Пользователь</th>
                <th style="border: 0;">Подробнее</th>

            </tr>
        </thead>
        <tbody class="scroll">
            @foreach (var order in Model.Dictionaryobject)
            {
                <tr class="tr_orders">

                    <td>@order.Key.Data.ToString("dd.MM.yyyy") </td>
                    <td>@order.Key.Name</td>
                    <td>@order.Key.Price?.ToString("C")</td>
                    <td>
                        @if (order.Key.ComentAdmin != null)
                        {
                            <button class="button_on_personal_area">Подробнее</button>
                        }
                    </td>
                    <td>
                        @order.Value.Email


                    </td>

                    <td>
                        <a class="nav-link text-dark" class="btn users-btn" href="~/Admin/AdminUser/AllOrdersByUser/?id=@order.Value.Id&page=1&take=10" type="button">Услуги</a>
                        
                        </td>
                </tr>
            }
        </tbody>
    </table>



    <div class="button_pagination " style="display: flex; justify-content: space-around;">

        <button type="button" class="btn btn-dark" id="prevPage">Назад</button>
        <button type="button" class="btn btn-dark" id="nextPage">Вперед</button>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>



<script>

    //$(function () {
    //    ReloadTable(1, 5);
    //});

    function ReloadTable(page, take) {
        console.log('start');
        document.location.href = '@Html.Raw(Url.Action("Index", "Home"))' + '?page=' + page + '&take=' + take;

        //$.get(url, function (response) {
        //    $('#scroll').html(response);
        //});

        console.log('end');
    }


    var currentPage = 1;
    var currentTake = 10;

    $("#prevPage").click(function () {
        var totalCount = @Model.Orders.TotalCount;
        var currentPage = @Model.Orders.Page;

        console.log(1)

        if ((currentPage - 1) > 0) {
            currentPage -= 1;
            ReloadTable(currentPage, currentTake);
        }
    });

    // Обработчик нажатия кнопки "Вперед"
    $("#nextPage").click(function () {
        var totalCount = @Model.Orders.TotalCount;
        var currentPage = @Model.Orders.Page;

        console.log(2)

        console.log('next')
        if ((currentPage) * currentTake < totalCount) {
            currentPage += 1;
            ReloadTable(currentPage, currentTake);
        }
    });
</script>