@using Questionary.Web.Areas.Admin.ViewModel.AdminViewModel
@model AdminUserInfoViewModel;
@{
    ViewData["Title"] = "Добавление дополнительной информации для карточки на главной странице";
}


<div class="container my-5">
    <table class="table">
        <thead>
            <tr>
                <th>Год</th>
                <th>Факты</th>
                <th>Стартовый номер</th>
                <th>Победы</th>
                <th>Количесво лет в анархии</th>
                <th>Хобби</th>
                <th>К какому юзеру относится</th>

                <th> </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PersonsTeam)
            {
                <tr>
                    <td>@item.Year.ToString("dd.MM.yyyy")</td>
                    <td>@item.Facts</td>
                    <td>@item.StartNumber</td>
                    <td>@item.Experience</td>
                    <td>@item.YearAnarch</td>
                    <td>@item.Hobby</td>
                    <td>@item.UserId</td>


                    <td><a type="button" class="btn btn-primary" href="~/Admin/AdminUserInfo/Edit/@item.Id">Редактировать</a></td>
                    <td><a type="button" class="btn btn-danger" href="~/Admin/AdminEvent/Delete/@item.Id">Удалить</a></td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <a type="button" class="btn btn-primary" href='/Admin/AdminUserInfo/Create'>Добавить</a>
    </div>
</div>
